*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'source san pro', sans-serif;
    --ff-secondery: 'source code pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: 303030;
    --clr-accent: #16e0bd;

    --fs-hi: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0, .25), 0.125em 0.125em 0.25em rgba(0,0,0, .15);
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}

/* General style*/

body{
    background:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    font-display: block;
    max-width: 100%;
}

strong{font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/*Button*/
.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    

}

.btn:hover{
    transform: scale(1.1);
}

/* typography*/
h1, h2, h3{
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}


.section__title{
    margin-bottom: .25em;
}

.section__title__intro{
    font-weight: var(--fw-reg);
    
}

.img{
    max-width: 100px;
}

section__title__intro strong{
    display:block;
    
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}


.section__subtitle__work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.section__subtitle__work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}


.section__subtitle__intro,
.section__subtitle__about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondery);
    margin-bottom: 1em;

}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    max-width: 100px;
}

.nav{
    position: fixed;
    background:#111;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}


nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
    
}

.nav__link:hover{
    color: var(--clr-accent);
}


.nav-toggle{
    padding: .25em;
    background: transparent;
    border: 0;
    position: relative;
    cursor: pointer;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}


.nav-open .hamburger{
    transform: rotate(.625turn);
}


.hamburger{

    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{

    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
   
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

/*nav {display: name;}*/

/*into section*/

.intro{
    position:relative;
}

.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle__intro{
    display: inline-block;
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;    
    }

   .intro__img{
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
   }
   
   .section__subtitle__intro{
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
   }
}


/*My services*/
.my__services{
    background-color: var(--clr-dark);
    background-image: url(../image/laptop.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

/*.section__title__services{
    color: var(--clr-accent);
    position: relative;
}

.section__title__services::after{
    /*content: ;
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5 auto 1em;
    background: currentColor;
    opacity: 0.25;
}

.services{
    margin-bottom: 4em;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}*/

/*.service + .service{
    margin-left: 2em;
}

.about-me{
    max-width: 100px;
    margin: 0 auto;
}



.about-me__img{
    box-shadow: var(--bs);
}

@media(min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        /*grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        /*grid-column: 2em;
    }



    .section__title__about,
    .section__subtitle__about{

        grid-column: 1;

    }

   /* .section__subtitle__about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: 1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-row: 1/-1;
        grid-column: 2;
    }
}*/



/* My work*/

.my-work{
    background-color: var(--clr-dark);
    color: light;
    text-align: center;
    /*background:;*/
    padding-left: 5px;
    
}


.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item{
    background: var(--clr-accent);
    padding: auto;
}

.portfolio__img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: .75;
}

/*footer*/

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0.5em;
}

.social-list__link{
    padding: .5em;
}

.button{
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;

}

.button:hover{
    background-color: #fff;
    color: #000;
}



.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.5);
}

.modal-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgb(0,0,0,0.5), 0 7px 20px 0 rgb(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.closebtn{
    color: #ccc;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin-right: 1em;
    cursor: pointer;
}

.closebtn:hover,.closebtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.para{
    text-align: left;
}

.hackerrank{
    height: 96%;
    width: 100%;
}

@keyframes modalopen{
    from { opacity: 0;}
    to { opacity: 1;}
}